<<<<<<< HEAD
.Nicole {
    background-color: blue;
    font-size: 5px;
}
=======
<style>
    .purple-text {
        color: red;
    }
    h1 {
        font-family: "comic sans ms", sans-serif; 
        font-size: : 10;
    }
    </style>
>>>>>>> 172cd4293265c43b23f1f8073b0c6ef51820727a
